---
http_interactions:
- request:
    method: get
    uri: https://api.mocki.io/v1/2ac7da28
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 11fa901d-b43d-4fc7-880a-ad4361ee6800
      X-Amzn-Remapped-Content-Length:
      - '77'
      X-Amz-Apigw-Id:
      - bXfNoECVIAMFuNw=
      Etag:
      - W/"4d-yap42SJ8nfd/KHL17f3ZzAAdBgs"
    body:
      encoding: UTF-8
      string: '[{"id":1,"title":"Post 1","user_id":1},{"id":2,"title":"Post 2","user_id":2}]'
  recorded_at: Fri, 26 Feb 2021 19:01:31 GMT
- request:
    method: get
    uri: https://api.mocki.io/v1/c2037888
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 0ad72e00-cd41-4f21-a8e8-0c496ae856e1
      X-Amzn-Remapped-Content-Length:
      - '47'
      X-Amz-Apigw-Id:
      - bXfN5Gm9oAMFogA=
      Etag:
      - W/"2f-0BK/cHUYh1nqlpFqHbu4AtW03bY"
    body:
      encoding: UTF-8
      string: '[{"id":1,"name":"John"},{"id":2,"name":"Jill"}]'
  recorded_at: Fri, 26 Feb 2021 19:01:33 GMT
recorded_with: VCR 6.0.0
