---
http_interactions:
- request:
    method: get
    uri: https://api.mocki.io/v1/c2037888
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - b824ccb7-0112-4a9b-a70c-bd24bd5e8122
      X-Amzn-Remapped-Content-Length:
      - '47'
      X-Amz-Apigw-Id:
      - bXfZfHTdoAMFgtw=
      Etag:
      - W/"2f-0BK/cHUYh1nqlpFqHbu4AtW03bY"
    body:
      encoding: UTF-8
      string: '[{"id":1,"name":"John"},{"id":2,"name":"Jill"}]'
  recorded_at: Fri, 26 Feb 2021 19:02:47 GMT
- request:
    method: get
    uri: https://api.mocki.io/v1/2ac7da28
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - cae1ea96-76b2-4f6a-b6b9-2f07f9f18a91
      X-Amzn-Remapped-Content-Length:
      - '77'
      X-Amz-Apigw-Id:
      - bXfZtEw1oAMFzvw=
      Etag:
      - W/"4d-yap42SJ8nfd/KHL17f3ZzAAdBgs"
    body:
      encoding: UTF-8
      string: '[{"id":1,"title":"Post 1","user_id":1},{"id":2,"title":"Post 2","user_id":2}]'
  recorded_at: Fri, 26 Feb 2021 19:02:49 GMT
recorded_with: VCR 6.0.0
